:root {
    --logo-blue: #2196f3;
    --logo-black: #000000;
    --logo-white: #ffffff;
    --background-color: #2f303a;
    --button-border: #ececec;
    --nav-header: #212121;
    --adress-header: #757575;
    --team-background: #f5f4fa;
    --current-button: #fff;
    --adress: rgba(255, 255, 255, 0.6);
    --cocial-icon-footer: rgba(255, 255, 255, 0.1);
    --portfolio-images: #eeeeee;
    --border-client: rgba(175, 177, 184, 1);
    --border-client-blue: rgba(33, 150, 243, 1);
    --client1: #afB1b8;
    --overlay: #2a2a2a;
    --items-between: 30px;
    
}