.backdrop.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    }
    .backdrop {
       
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.2);
        z-index: 20;
    }
    
    .backdrop-modal  {  /*modal*/
        position: absolute;        
        top: 50%;    
        left: 50%;
        transform: translate(-50%, -50%);
       
        background-color: var(--logo-white);
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
        border-radius: 4px;
        padding: 40px;
          
      @media screen and (min-width: 767px) {
        width:528px;
        height: 581px;
        
      }
    }
    
    
    .backdrop-modal__title  {  /*modal-title*/
        margin-bottom: 12px;    
        font-weight: 700;
        font-size: 20px;
        line-height: 1.15;
        text-align: center;
        letter-spacing: 0.03em;
        color: var(--nav-header);
    
    }
    .backdrop-modal__button-close  {  /*button-close-hero*/
        position: absolute;
        top: 8px;
        right: 8px;
        width: 30px;
            height: 30px;
            border-radius: 50px;
           
            border: 1px solid rgba(0, 0, 0, 0.1);
        background-color: transparent;
        cursor: pointer;
       
       
    }
    
    .backdrop-modal__icon  {  /*button-close*/
         fill: var(--logo-black);
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    
    .backdrop-modal__icon:hover {
        fill: var(--logo-blue);
    }
    .backdrop-modal__subscribe-button  { /*subscribe-modal-button*/
        margin-top: 30px;
             margin-left: 12px;
             width: 200px;
             height: 50px;
             font-weight: 700;
             font-size: 16px;
             line-height: 1.88;
             letter-spacing: 0.06em;
             color: var(--logo-white);
             align-items: center;
             background: var(--logo-blue);
             box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
             border-radius: 4px;
             border: transparent;
             cursor: pointer;
     }