.client-section__title {
    font-weight: 700;
    font-size: 28px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 50px;

    @media screen and (min-width: 1200px) {
        font-size: 36px;
    }

}

.client-section__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;


@media screen and (min-width: 1200px) {
    display: flex;
justify-content: center;
align-items: center;
gap: 30px;
}
}

.client-section__item {
    margin-left: auto;
    margin-right: auto;
}


.client-section__icon {
      
fill: var(--client1);
transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
 
}
.client-section__icon:hover,
.client-section__icon:focus {
    
fill: var(--border-client-blue);
}

/*.client-section__item {
    margin-bottom: 30px;
}
.client-section__item:not(:last-child) {
 margin-bottom: 30px;
}*/
.client-section__link {

display: flex;
justify-content: center;
align-items: center;
width: 170px;
height: 92px;
border-radius: 4px;
border: 1px solid var(--border-client);
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);


/*@media screen and (min-width: 1200px) {
    width: 170px;
}*/
}
.client-section__link:hover .client-section__icon {
fill: var(--border-client-blue);
}
.client-section__link:hover,
.client-section__link:focus {
border-color: var(--logo-blue);
}