.team-section  { /*team*/
    background-color: var(--team-background);

   


}
.team-card  { /*border-name*/
    padding-top: 30px;
    padding-bottom: 30px;
}
.team-card__name  { /*name*/
        font-weight: 500;
        font-size: 16px;
        line-height: 1.18;
        text-align: center;
        letter-spacing: 0.03em;
        
   }
.team-card__text  {    /*fhoto-text*/
    margin-top: 10px;       
        font-size: 16px;
        line-height: 1.18;
        color: var(--adress-header); 
        text-align: center;
        letter-spacing: 0.03em;
}
.team-section__title  { /*section-work-comander*/

        font-weight: 700;
        font-size: 28px;
        line-height: 1.16;
        text-align: center;
        letter-spacing: 0.03em;
        margin-bottom: 50px;

        @media (min-width:1200px) {
            font-size: 36px;
            
        }
       }

 

 
.team-section__list  { /*section-card-comand*/
   /* display: flex;
    justify-content: space-between;
    padding: 0%;*/
    display: flex;
    flex-wrap: wrap;
    gap: 30px
}





.team-section__image  { /*section-work-imeages-comand*/
    background-color: var(--logo-white);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    /*width: 100%;
    min-width: 270px;
    padding-left: 10%;*/
    display: block;
   
    min-width: 270px;
    margin-left: auto;
    margin-right: auto;
}


.team-social__list  { /*social-team*/

    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 16px;       
    gap: 10px;
   
}


.team-social__icon  { /*social-icon-team                team-social__icon*/
      
    fill: var(--client1);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
   }


   .team-social__link  { /*social-icon-link*/
  display: flex;
  justify-content: center;
  align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50px;
    background-color: var(--logo-white);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
   
}

.team-social__link:hover .team-social__icon { /*social-icon-link:hover .social-icon-team*/
    fill:var(--logo-white) ;
}

   .team-social__link:hover, 
   .team-social__link:focus { /*.social-icon-link:hover,.social-icon-link:focus*/
 background-color: var(--logo-blue);
   
   }

.team-social__icon:hover { /*social-icon-team*/
       fill: var(--logo-white);
   
}
